.calc-result-table{
	margin:0;
	padding:0;
	border:0;
	bottom:0;
	width:100%;
	color:rgba(0,0,0,0.5);
	text-align:right;
	font-size:1em;
	th,td{
		padding:2.5px 2.5px;
		&:last-child{padding-right:10px;}
		&:first-child{padding-left:10px;text-align:left}
	}
	th{font-weight:normal}
}
.calc-value-row{
	width:100%;
	height:0;
	overflow:hidden;
	vertical-align: middle;
	opacity:0;
	transition:height 1s, opacity 0s;
}
.calc-value-price{
	position:absolute;
	right:0;
	padding:5px 10px;
	.price{font-size:1.2em;}
}
.calc-value-label{
	position:absolute;
	left:0;
	padding:5px 10px;
}
.calc-section-result{
	width:100%;
	height:25px;
	vertical-align: middle;
	transition:font-size .3s, color .3s, height.3s;
}
.calc-section-result-price{
	position:absolute;
	right:0;
	padding:5px 10px;
	.price{font-size:1.3em;}
}
.calc-section-result-label{
	position:absolute;
	left:0;
	font-size:1em;
	padding:5px 10px;
}
.calc-point{
	position:relative;
	color:getPrimaryColor(8);
	text-align:center;
	font-size:1.1em;
}
.calc-device-section{
	position:relative;
	height:20%;
}
.calc-plan-section{
	position:relative;
	height:20%;
}
.calc-section-inner{
	position:absolute;
	width:270px;
	left:50%;
	margin-left:-135px;
	bottom:0;
}
.calc-detail-btn{
	position:absolute;
	width:30px;
	height:30px;
	background:getPrimaryColor(8);
	border:0;
	bottom:0;
	right:0;
}
.calc-wrap{
	width:100%;
	height:auto;
	margin:0 auto;
	margin-bottom:15px;
}
.calc-result-device-price{
	color:getPrimaryColor(8);
	border-bottom:solid 1px rgba(0,0,0,.05);
	@include opacity(0.9);
}

.calc-result-row-support,
.calc-result-row-selectplan,
.calc-result-row-interest{
	display:none;
	&.active{display:block;}
}

.calc-result-row-support,
.calc-result-row-selectplan{
	color:rgba($positiveColor, .9);
}
.calc-row{
	position:relative;
	height:60px;
	padding:0;
	border:0;
	margin: 0;
	word-spacing: -0.26em;
	white-space:nowrap;
	line-height:initial;
	border-bottom:solid 1px rgba(0,0,0,0.1);
	&-1{
		@extend .calc-row;
		.calc-btn{width:100%;}
	}
	&-2{
		@extend .calc-row;
		.calc-btn{width:50%;}
	}
	&-3{
		@extend .calc-row;
		.calc-btn{width:calc(100%/3);}
	}
	&-lock-1{
		@include inlineBlock;
		@extend .calc-row;
		width:100%;
		word-spacing:0;
	}
	&-lock-2{
		@include inlineBlock;
		@extend .calc-row;
		width:50%;
		word-spacing:0;
	}
	&-lock-3{
		@include inlineBlock;
		@extend .calc-row;
		width:calc(100%/3);
		word-spacing:0;
	}
	&-lock-4{
		@include inlineBlock;
		@extend .calc-row;
		width:calc(100%/4);
		word-spacing:0;
	}
	&:last-child{
		border-bottom:0;
	}
}

.calc-row-label{
	position:absolute;
	z-index:9;
	top:0px;
	left:5px;
	font-size:.95em;
	word-spacing:0;
	color:rgba(0,0,0,0.7);
	.calc-row.active &{
		color:rgba(0,0,0,0.5);
	}
}

.calc-btn{
	@include inlineBlock;
	position:relative;
	width:100%;
	height:100%;
	border-right:solid 1px rgba(0,0,0,0.1);
	word-spacing:0;
	cursor:hand;
	cursor:pointer;
	&:last-child{
		border-right:0;
	}
	input{
		display:block;
		position:absolute;
		z-index:-1;
		visibility:hidden;
	}
}

.calc-label{
	position:absolute;
	top:-1;
	left:-1;
	width:100%;
	height:100%;
	line-height:65px;
	font-size:1.2em;
	border:solid 1px rgba(255,255,255,0);
	text-align:center;
	box-sizing:initial;
	transition:background .2s, border .2s, color .2s;
	input:checked + &{
		background:getPrimaryColor(2);
		border:solid 1px getPrimaryColor(4);
		color:getPrimaryColor(9);
		font-weight:bold;
	}
	i{vertical-align: sub;}
}

.calc-result-wrap{
	position:relative;
	z-index: 999;
	background:getPrimaryColor(1);
	@include animate-fadeIn-to-out();
}
.calc-result-inner{
	position:relative;
	width:100%;
	height:100%;
	color:rgba(0,0,0,0.5);
	background:rgba(getPrimaryColor(1),.87);
	border-bottom:solid 1px rgba(0,0,0,0.1);
	transition:height .5s,box-shadow .5s;
	z-index:999;
	&.active{
		@include shadow-level(2);
		height:250%;
		.calc-total-wrap{height:24%;}
		.calc-device-section{height:38%;}
		.calc-plan-section{height:32%}
		.calc-section-inner{padding:5px 0;}
		.calc-device-section,
		.calc-plan-section{border-bottom:solid 1px rgba(0,0,0,.05);}
		.calc-value-row{opacity:1;height:25px;transition:height .3s, opacity 1s;}
		.calc-section-result{color:getPrimaryColor(8);font-size:1.1em;height:30px;}
	}
}
.calc-result-etc{
	padding:5px 10px;
}
.calc-result-value-wrap{
	width:100%;
	position:absolute;
	bottom:0;
	padding:3px 10px;
	text-align:right;
}
.calc-total-wrap{
	height:35%;
	position:absolute;
	width:100%;
}
.calc-total-inner{
	height:30px;
	position:absolute;
	width:100%;
	top:50%;
	margin-top:-15px;
	text-align:center
}
.calc-total-price{
	font-size:2.7em;
	vertical-align:baseline;
	color:getPrimaryColor(8);
}
.calc-total-label{
	font-size:1.3em;
	vertical-align:baseline;
	color:getPrimaryColor(8);
}
.calc-pad-wrap{
	height:auto;
	background:white;
	word-spacing: -0.26em;
	white-space:nowrap;
	line-height:0.26em;
	border-bottom:solid 1px rgba(0,0,0,.1);
}

.cart-total-tit{
	font-size:1.1em;
	color:#888;
}

.cart-total{
	white-space: nowrap;
	width:300px;
	margin:0 auto;
	font-size:2.5em;
	text-align:right;
	color:#888;
	margin-bottom:40px;
}

@media all and (min-width:400px){
	.calc-row{height:70px;}
	.calc-label{line-height:70px;}
	.calc-wrap{width:400px; margin:0 auto;}
}

@media all and (min-width:640px){
	.calc-wrap{width:100%;}
	.calc-total-wrap{height:25%;}
	.calc-device-section{height:37%;}
	.calc-plan-section{height:30%}
	.calc-section-inner{padding:15px 0;}
	.calc-device-section,
	.calc-plan-section{border-bottom:solid 1px rgba(0,0,0,.05);}
	.calc-value-row{opacity:1;height:27px;font-size:0.9em;transition:height .3s, opacity 1s;}
	.calc-section-result{color:getPrimaryColor(8);font-size:1.1em;height:30px;}
	.calc-detail-btn{display:none;}

	.calc-row{height:85px;}
	.calc-row-label{
		top:0px;
		left:5px;
	}
	.calc-result-wrap{
		width:45%;
		height:55px;
		border:solid 1px rgba(0,0,0,.1);
		float:right;
	}
	.calc-label{
		line-height:85px;
		font-size:1em;
	}
	.calc-pad-wrap{
		width:55%;
		height:auto;
		border:solid 1px rgba(0,0,0,.1);
		border-right:0;
		float:left;
	}

}

@media all and (min-width:900px){
	.calc-wrap{width:900px;}
	.calc-pad-wrap{width:60%;border:solid 1px rgba(0,0,0,.1);}
	.calc-result-wrap{width:35%}
}

@media all and (min-width:1200px){
}

@media all and (min-width:1450px){
}
