$ico70xPath : '../img/ico-common-70x.png';

.ico-common {
	background-image:url('../img/ico-common.png');
	background-repeat:no-repeat;
}
.ico-70x {
	@include inlineBlock;
	@include opacity(0.6);
	width:70px;
	height:70px;
	vertical-align:middle;
	background-image:url($ico70xPath);
	background-repeat:no-repeat;
	&:active{@include opacity(1);}
}
.ico-small {
	@include inlineBlock;
	@include opacity(0.6);
	width:30px;
	height:30px;
	vertical-align:middle;
	background-image:url('../img/icon/ico-common-small.png');
	background-repeat:no-repeat;
	&:active{@include opacity(1);}
}
.ico-18x{
	@include inlineBlock;
	@include opacity(0.6);
	width:18px;
	height:18px;
	vertical-align:middle;
	background-image:url('../img/inp-ico.png');
	background-repeat:no-repeat;
	&:active{@include opacity(1);}
}
.ico-calculate {
	@include inlineBlock;
	width:14px;
	height:14px;
	background-image:url('../img/ico-calculate.png');
	background-repeat:no-repeat;
	vertical-align:middle;
}
.ico-cancle-18x{
	@extend .ico-18x;
	background-position:-18px 0;
	&-light{
		@extend .ico-18x;
		background-position:-126px 0;
	}
	&-primary {
		@extend .ico-18x;
		background-position:-144px 0;
	}
}

.ico-more-18x{
	@extend .ico-18x;
	background-position:-180px 0;
	&-primary {
		@extend .ico-18x;
		@include opacity(1);
		background-position:-162px 0;
	}
}

.ico-calculate-minus-positive{
	@extend .ico-calculate;
	background-position:-28px -14px;
}
.ico-calculate-plus{
	@extend .ico-calculate;
	@include opacity(0.6);
	background-position:-14px 0px;
}
.ico-more-small{
	@extend .ico-small;
	background-position:-540px 0;
}
.ico-capacity-small{
	@extend .ico-small;
	background-position:-420px 0;
}
.ico-vat-small{
	@extend .ico-small;
	background-position:-480px 0;
}
.ico-sale-small{
	@extend .ico-small;
	background-position:-510px 0;
}
.ico-person-small{
	@extend .ico-small;
	background-position:0 0;
}
.ico-talk-small{
	@extend .ico-small;
	background-position:-30px 0;
}
.ico-truck-small{
	@extend .ico-small;
	background-position:-60px 0;
}
.ico-bike-small{
	@extend .ico-small;
	background-position:-90px 0;
}
.ico-caution-small{
	@extend .ico-small;
	background-position:-120px 0;
}
.ico-email-small{
	@extend .ico-small;
	background-position:-150px 0;
}
.ico-tel-small{
	@extend .ico-small;
	background-position:-180px 0;
}
.ico-calendar-small{
	@extend .ico-small;
	background-position:-210px 0;
}
.ico-carrier-small{
	@extend .ico-small;
	background-position:-240px 0;
}
.ico-gift-small{
	@extend .ico-small;
	background-position:-270px 0;
}
.ico-color-small{
	@extend .ico-small;
	background-position:-300px 0;
}
.ico-plan-small, 
.ico-coins-small{
	@extend .ico-small;
	background-position:-330px 0;
}
.ico-apply-type-small,
.ico-change-device-small{
	@extend .ico-small;
	background-position:-360px 0;
}
.ico-cash-small{
	@extend .ico-small;
	background-position:-450px 0;
}
.ico-phone-small{
	@extend .ico-small;
	background-position:-570px 0;
}

.ico-phone-small{
	@extend .ico-small;
	background-position:-570px 0;
}

.ico-question-small{
	@extend .ico-small;
	background-position:-630px 0;
}

.ico-apply-small{
	@extend .ico-small;
	background-position:-600px 0;
}

.ico-logo-30x{
	@extend .ico-small;
	background-position:-660px 0;
}

.ico-apply-70x{
	@extend .ico-70x;
	background-position:0 0;
}
.ico-phone-70x{
	@extend .ico-70x;
	background-position:-70px 0;
}
.ico-logo-70x{
	@extend .ico-70x;
	background-position:-140px 0;
}
.ico-carrier-70x{
	@extend .ico-70x;
	background-position:-210px 0;
}
.ico-tel-70x{
	@extend .ico-70x;
	background-position:-280px 0;
}
.ico-truck-70x{
	@extend .ico-70x;
	background-position:-350px 0;
}