.btn {
	@extend .btn-filled;
}
.btn-login-ico{
	position:absolute;
	width:25px;
	height:25px;
	top:50%;
	margin-top:-12.5px;
	left:10px;
	background:url('../img/btn-login-ico.jpg') no-repeat;
}
.btn-flat-default{
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	border-radius:5px;
	padding:15px 20px;
	line-height:21px;
	transition:box-shadow .3s, background .2s;
}
.btn-flat-default-dense{
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	padding:10px 20px;
	border-radius:5px;
	line-height:21px;
	outline:0;
	transition:box-shadow .3s, background .2s;
}
.btn-default{
	@include inlineBlock;
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	border-radius:5px;
	padding:13px 20px;
	line-height:21px;
	outline:0;
	font-weight:bold;
	color:initial;
	cursor:pointer;
	cursor:hand;
	transition:box-shadow .3s, background .2s;
	@include shadow-level(2);
	&:hover,
	&:active{
		@include shadow-level(4);
	}
}
.btn-default-dense{
	@include inlineBlock;
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	padding:10px 17px;
	border-radius:5px;
	line-height:21px;
	outline:0;
	color:inherit;
	cursor:pointer;
	cursor:hand;
	transition:box-shadow .3s, background .2s;
	@include shadow-level(2);
	&:hover,
	&:active{
		@include shadow-level(4);
	}
}

.btn-outline {
	@include btn-base();
	padding:12px 20px;
	font-size:1.1em;
	color:darken($mainYellow,10);
	border:2px solid darken($mainYellow,10);
	transition:box-shadow .3s, background .1s;
	@include shadow-level(1);
	&:hover{
		background:$mainYellow;
		@include shadow-level(2);
	}
}
.btn-small-filled {
	padding:10px 15px; 
	margin:0 auto;
	border-radius:5px;
	font-size:1em;
	text-decoration:none;
	cursor:pointer;
	background:$mainYellow;
	border:1px solid darken($mainYellow,10);
	color:$mainBlack;
	&:hover{color:white;}
}
.btn-filled {
	@extend .btn-default;
	background:$mainYellow;
	border:1px solid darken($mainYellow,10);
	font-weight:bold;
	margin-top:15px;
	&:active{
		background:getPrimaryColor(4);
	}
}
.btn-filled-primary {
	@extend .btn-filled;
}
.btn-filled-primary-dense {
	@extend .btn-default-dense;
	background:$mainYellow;
	border:1px solid darken($mainYellow,10);
	font-weight:bold;
	&:active{
		background:getPrimaryColor(4);
	}
}
.btn-filled-dense {
	@extend .btn-default-dense;
}
.btn-black{
	@include btn(){
		background:$mainBlack;
		border:3px solid $mainYellow;
		color:$mainYellow;
	}
}
.btn-black-transparent{
	@include btn(){
		background:rgba($mainBlack,0.7);
		border:3px solid $mainYellow;
		color:$mainYellow;
	}
}
.btn-sub{
	display:block;
	background:#fafafa;padding:5px 10px;font-size:17px;font-weight:bold;border:solid 1px #ddd;
	color:darken(#eee, 40);
	text-decoration:none;
	cursor:pointer;
	&:hover{color:$mainYellow;}
}
.initial-offset{top:0;bottom:0;left:0;right:0}
.fade-out{@include opacity(0);}

.btn-flat-primary{
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	padding:15px 20px;
	line-height:21px;
	color:darken($mainYellow, 10);
	transition:background .1s;
	outline:0;
	&:hover{
		background:rgba($mainYellow,0.20);
	}
	&:active{
		background:rgba($mainYellow,0.35);
	}
}

.btn-flat{
	@extend .btn-flat-default;
	color:$mainBlack;
	outline:0;
	transition:background .1s;
	&:hover{
		background:rgba($mainBlack,0.1);
	}
	&:active{
		background:rgba($mainBlack,0.2);
	}
}

.btn-flat-ico{
	width:20px;
	height:20px;
	position:relative;
	text-decoration:none;
	border:none;
	text-align:left;
	background:none;
	outline:0;
	transition:background .1s;
	&:hover{
		background:rgba($mainBlack,0.1);
	}
	&:active{
		background:rgba($mainBlack,0.2);
	}
}

.btn-flat-primary-dense{
	@extend .btn-flat-default-dense;
	color:darken($mainYellow, 10);
	transition:background .1s;
	&:hover{
		background:rgba($mainYellow,0.20);
	}
	&:active{
		background:rgba($mainYellow,0.35);
	}
}

.btn-filled-sub-dense{
	@extend .btn-default-dense;
	background:#37474F;
	font-weight:normal;
	color:white;
	&:active{
		background:#455A64;
	}
}

.btn-filled-sub{
	@extend .btn-default;
	background:#37474F;
	font-weight:normal;
	color:white;
	&:active{
		background:#455A64;
	}
}

.btn-filled-white-dense{
	@extend .btn-default-dense;
	background:#ECEFF1;
	&:active{
		background:white;
	}
}

.btn-kakao-login{
	@extend .btn-default;
	padding-left:40px;
	background:$kakaoColor;
	color:$kakaoBrownColor;
	font-weight:bold;
	font-size:1.05em;
	border:solid 1px darken($kakaoColor, 5);
	&:active{
		background:lighten($kakaoColor,20);
	}
	i{
		@extend .btn-login-ico;
		background-position:-50px 0;
	}
}

.btn-naver-login{
	@extend .btn-default;
	padding-left:40px;
	background:$naverColor;
	color:white;
	font-weight:bold;
	font-size:1.05em;
	border:solid 1px darken($naverColor, 5);
	&:active{
		background:lighten($naverColor,2);
	}
	i{
		@extend .btn-login-ico;
		background-position:-25px 0;
	}
}

.btn-fb-login{
	@extend .btn-default;
	padding-left:40px;
	background:$facebookColor;
	color:white;
	font-weight:bold;
	font-size:1.05em;
	border-right:solid 1px darken($facebookColor, 5);
	&:active{
		background:lighten($facebookColor,5);
	}
	i{@extend .btn-login-ico;}
}

.inp-default:not(readonly):focus+.inp-label,
.inp-default + .inp-label.active{
	padding-top:0px;
	font-size:.9em;
	color:#ffb300;
	.inp-required{
		font-size:.85em;
		color:rgba($red, 0.6);
	}
}
.inp-block{
	position:relative;
	width:100%;
	background:0;
	padding:0;
	outline:0;
	border:0;
}
.inp-default{
	position:relative;
	width:100%;
	z-index:1;
	border:0;
	background:0;
	padding:0;
	border-bottom:solid 1px rgba(0,0,0,0.3);
	@include whenLteIE8 {
		border-bottom:solid 1px #ccc;
	}
	padding-top:20px;
	padding-bottom:8px;
	margin-bottom:16px;
	line-height:25px;
	vertical-align: baseline;
	outline:0;
	transition:border-color .2s;
	&:not(readonly):focus{
		border-bottom:solid 2px $mainYellow;
		padding-bottom:7px;
	}

	&+.inp-label{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		padding-top:20px;
		cursor:text;
		text-align:left;
		color:rgba(0,0,0,0.5);
		transition:all .2s;
	}
}
.inp-hint{
	position:absolute;
	margin-top:7px;
	bottom:0px;
	left:0px;
	font-size:.85em;
	color:rgba(0,0,0,0.5);
}

.inp-search{
	@extend .inp-default;
	width:98%;
	padding-right:30px;
	margin-bottom:0;
	font-size:1.5em;
	&:focus{
		&+.inp-label	i{	background-position:-108px 0;}
	}
	&+.inp-label {
		font-size:1.5em;
		i{
			@extend .inp-ico;
			position:absolute;
			display:block;
			width:18px;
			height:18px;
			right:12px;
			bottom:11px;
			background-position:-90px 0;
		}
	}
}
.inp-default-dense{
	border:0;
	outline:0;
	background:0;
	padding:0;
	border-bottom:solid 1px lighten($mainBlack, 60);
	padding-top:22px;
	padding-bottom:8px;
	margin-bottom:12px;
	transition:border-color .2s;
	&:focus{
		border-bottom:solid 2px $mainYellow;
		padding-bottom:7px;
	}
}

.inp-action-ico{
	
}
.inp-required{
	font-size:.85em;
	color:$red;
}
.inp-ico{
	background-image:url('../img/inp-ico.png');
	background-repeat:no-repeat;
}
.btn-delete,
.btn-cancle{
	@extend .btn-flat-ico;
	position:relative;
	width:40px;
	height:40px;
	padding:0;
	i {
		@extend .inp-ico;
		position:absolute;
		display:block;
		width:20px;
		height:20px;
		top:50%;
		left:50%;
		margin-top:-10px;
		margin-left:-10px;
		background-position:-18px 0;
	}	
}
.btn-edit,
.btn-write{
	@extend .btn-flat-ico;
	position:relative;
	width:40px;
	height:40px;
	padding:0;
	i {
		@extend .inp-ico;
		position:absolute;
		display:block;
		width:20px;
		height:20px;
		top:50%;
		left:50%;
		margin-top:-10px;
		margin-left:-10px;
		background-position:-36px 0;
	}	
}
.inp-label{
	display:block;
	cursor:pointer;
	cursor:hand;
}
.inp-floating-label{
	
}

.inp-hint{
	
}
.inp-txtarea{
	@extend .inp-default;
	line-height:initial;
	width:60%;
	min-height:100px;
	overflow:visible;
}
.inp-txt{
	@extend .inp-default;
	height:50px;
	vertical-align:bottom;
}
.inp-wrap{
	position:relative;
	width:auto;
	display:inline-block;
	margin-bottom:10px;
	&-long{
		@extend .inp-wrap;
		width:350px;
	}
	&-full{
		@extend .inp-wrap;
		width:100%;
	}
	&-center{
		@extend .inp-wrap;
		margin:0 auto;
	}
	& > i{
		position:absolute;		
		bottom:17px;
		& + textarea + .inp-label,
		& + textarea,
		& + input + .inp-label,
		& + input {margin-left:40px;}
	}
}
.inp-file-wrap{
	@extend .inp-wrap;
	cursor:pointer;
	label *{pointer-events: none;}
	label {cursor:pointer;}
	&:active button,
	&:hover button{
		@include shadow-level(4);
	}
}
.inp-file-btn{
	position:absolute;
	display:block;
	width: 98px; 
	height: 50px;
	z-index:9;
	margin-left:-85px;
	outline:0;
	@include opacity(0);
	margin-top: 5px;
	&:focus + button{
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}
}
.inp-group{
	display:block;
	border:0;
	padding:0;
	margin:0;
	margin-top:20px;
	border-bottom:solid 1px rgba(0,0,0,0.1);
	&:last-child{
		border-bottom:0;
	}
}
.inp-tit {
	margin-top:20px;
}
.inp-file-btn-label{
	display: inline-block;
    position: relative;
	cursor:pointer;
}
.inp-num{
	@extend .inp-default;
	text-align:right;
	&:focus{text-align:left;}
}
.inp-num-dense{
	@extend .inp-default-dense;
	text-align:right;
	&:focus{text-align:left;}
}
.chcked {color:none}
.inp-radio{
	@extend .inline-block;
	position:relative;
	margin:0 auto;
	width:100%;
	height:100%;
	padding:15px 5px;
	padding-left:20px;
	vertical-align:middle;
	cursor:pointer;
	input {position:absolute;@include opacity(0);}
	input:checked {
		& + .inp-radio-btn{
			border:1px solid $mainYellow;
			background-color:lighten($mainYellow, 25);
			color:white;
			& + .inp-radio-label {
				font-weight:bold;
				& + .inp-radio-chk{
					background-color:transparent;
					background-position: -22px center;
				}
			}
		}
	}
	&:hover input:checked + .inp-radio-btn + .inp-radio-label{	color:$mainBlack;}
	&:hover{color:$mainYellow}
	.col-inp-5 &{
		padding:15px 15px;
		text-align:right;
	}
	&.multiple-line{
		padding:12px 20px;
		.inp-radio-label {line-height:normal;}
	}
}

.inp-radio-label {
	position:relative;
	vertical-align:middle;
	line-height:35px;
	color:$mainBlack;
	z-index:9;
}
.inp-radio-btn{
	position:absolute;
	width:100%;
	height:66px;
	left:0;top:-1px;
	/*
	width:30px;
	height:30px;
	left:0;
	border:1px solid #eee;
	background:#ddd url('../img/chk_mark.png') no-repeat center center;
	*/
}
.inp-radio-chk{
	position:absolute;
	width:22px;
	height:22px;
	top:50%;
	margin-top:-11px;
	left: 2%;
	background:url('../img/chk_mark.png') no-repeat 0 center;
}
.inp-select{
	width:100%;
	height:100%;
	padding:15px 20px;
	border:none;
	font-size:1.02em;
	option{text-align:center;	}
}
.inp-txt{font-size:1em;}
.inp-textarea{width:100%;height:100%;height:500px;}

.inp-chk{
	position:relative;
	display:inline-block;
	padding:15px 25px;
	padding-left:40px;
	cursor:pointer;cursor:hand;
	transition:color .2s;
	&:hover{color:getPrimaryColor(8)}
	input {
		position:absolute;
		@include opacity(0);
	}
}

.inp-chk-dense{
	position:relative;
	display:inline-block;
	padding:8.5px 20px;
	padding-left:40px;
	cursor:pointer;cursor:hand;
	transition:color .2s;
	&:hover{color:getPrimaryColor(8)}
	input {
		position:absolute;
		@include opacity(0);
	}
}
.inp-chk-box{
	position:absolute;
	width:20px;
	height:20px;
	left:10px;
	top:50%;
	margin-top:-10px;
	border-radius:2px;
	border:2px solid lighten($mainBlack,30);
	background-position:-1px -2px;
	transition:background-color .2s, border .2s;
	.inp-chk-dense:hover &,
	.inp-chk:hover &{
		border:2px solid darken($mainYellow,10);
	}
	input:checked + &{
		@extend .inp-ico;
		background-color:$mainYellow;
		border:2px solid darken($mainYellow,10);
	}
}
.ico-lock{
	@extend .inp-ico;
	@include inlineBlock;
	width:20px;
	height:20px;
	background-position:-71px 0;
}



@media all and (min-width:640px){
	.inp-radio{
		padding:15px 20px;
		padding-left:35px;
	}
	.inp-search{
		width:500px;
	}
}

@media all and (min-width:900px){
}
@media all and (min-width:1200px){
}
@media all and (min-width:1450px){
}