.inlinelist{
	@include listInit();
	text-align:left;
	li{
		@include inlineBlock;
		@include listInit();
		width:100%;
		border-bottom:solid 1px rgba(0,0,0,.05);
		.label{
			@include inlineBlock;
			width:50%;
			padding:20px 30px;
			font-size:.9em;
			color:lighten($mainBlack, 35);
			.ico-small{margin-top:-5px;}
		}
		.cont{
			@include inlineBlock;
			padding:5px 10px;
			width:50%;
		}
	}
}


.table{
	border-collapse: collapse;
	white-space: nowrap;
	width:100%;
	background:white;
	border:1px solid #eee;
	&.str td{text-align:left;}
	&.no-border{border:0;}
	.inp-num-dense{width:80px;}
	caption{
		padding:15px 25px;
		font-size:1.7em;
		text-align:left;
		border-bottom:solid 1px rgba(0,0,0,0.05);
	}
	thead, td.label{
		font-size:.9em;
		.ico-small{margin-top:-5px;}
		color:lighten($mainBlack, 35);
	}
	tr{
		height:70px;
		position:relative;
		border-bottom:solid 1px rgba(0,0,0,0.05);
		&.table-item-str{ td{text-align:left;}}
		&.address{
			height:90px;
			td{padding-bottom:45px}
			.action-wrap .inp-label{top:5px;margin-top:0;}
		}
	}
	tbody tr{
		transition:background .1s, height .3s;
		&.active{
			background:lighten($mainYellow, 35)
		}
		&.removing{
			overflow:hidden;
			height:0;
			td{
				overflow:hidden;
				padding-bottom:0;
				padding-top:0;
			}
		}
	}
	td{
		position:relative;
		padding:15px 25px;
		text-align:right;
		transition:padding-bottom .5s, padding-top .5s;
		&.no-padding{padding:0}
		&.table-item-str{text-align:left;}
		&.chk-wrap{
			width:60px;
			.inp-chk{
				position:absolute;
				padding:0;
				top:50%;left:50%;
				margin-top:-25px;
				margin-left:-25px;
				width:50px;
				height:50px;
				html.ie &{
					margin-top:-5px;
				}
			}
			.inp-chk-box{
				top:50%;left:50%;
				margin-top:-10px;
				margin-left:-10px;
			}
		}
		&.table-value{width:15%}
		&.gift-tit{padding-left:0;}
		&.action-wrap{
			width:50px;
			.inp-label{
				position:absolute;
				top:50%;left:50%;
				margin-top:-25px;
				margin-left:-25px;
				width:50px;
				height:50px;
				html.ie &{	margin-top:-5px;}
			}
			.btn-delete{
				position:absolute;
				top:50%;
				left:50%;
				margin-left:-20px;
				margin-top:-20px;
			}
		}
	}
}
.table-clickable{
	@extend .table;
	tbody tr{
		&:hover{
			background:lighten($mainYellow, 33);
			cursor:pointer;
			cursor:hand;
		}
	}
}
.table-hint{
	position:absolute;
	font-size:.85em;
	color:lighten($mainBlack, 40);
	bottom:0;
	left:0;
}
.table-func-row{
	height:50px;
	background:white;
}
.grid-group{
	margin:0;padding:0;list-style:none;
	&:last-child{margin-bottom:0;}
	&-center{
		@extend .grid-group;
		text-align:center;
	}
}

$gift-col-height : 220px;
$gift-big-col-height : 400px;
.grid-item-wrap{
	@extend .inline-block;
	position:relative;
	width:50%;
	height:$gift-col-height;
	margin:0;padding:0;list-style:none;
	padding:2px;
	vertical-align:top;
	transition:height,width 0.3s;
	cursor:pointer;
	cursor:hand;
	&:hover{
		padding:1px;
		.grid-item{border:solid 2px $mainYellow;}
	}
}
.grid-item{
	position:relative;
	display:block;
	height:100%;
	background:white;
	overflow:hidden;
	text-align:left;
	border:solid 1px #eee;
	text-decoration:none;
	color:inherit;
}
.grid-item-tit{
	position:absolute;
	bottom:0;
	width:100%;
	padding:7px;
	font-size:1.45em;
	background:rgba(255,255,255,0.7);
}
.grid-item-sub{font-size:.7em}
.grid-item-wrap-big{	
	@extend .inline-block;
	width:100%;
	height:$gift-big-col-height;
	margin:0;padding:0;list-style:none;
	padding:2.5px;
	vertical-align:top;
	transition:all 0.3s;
}
.grid-item-select{
	position:absolute;
	width:70px;
	height:50px;
	line-height:50px;
	top:0;left:0;margin:0;
	font-size:1.2em;
	text-align:center;
	background:$mainYellow;
	color:#000;
}
.grid-item-thumb-wrap{height:100%;}

.gift-view-wrap{
	@extend .overlay;
	display:none;
	overflow:auto;
	html.ie &{
		background:rgba(0,0,0,0.85);
	}
	&.active{display:block;}
}
.gift-view-inner-wrap{
	position:relative;
	min-height:100%;
	margin:0 auto;
	border-radius:5px;
	background:rgba(255,255,255,0.1);
	box-shadow: 0px 0px 10px black;
	html.ie &{
		background:rgba(255,255,255,0.05);
	}
	@extend .clear-both;
}
.gift-view{
	font-size:0;
	background:white;
	min-height:100%;
	img{
		width:100%;
		height:auto;
	}
}
.gift-panel{
	width:100%;
	padding:20px 1%;
	color:white;
}
.gift-panel-wrap{
	width:100%;
	text-align:center;
}
.gift-view-tit{
	font-size:2.2em;
}
.gift-view-sub{
	font-size:1.3em;
}
.gift-view-price{
	position:relative;
	padding:15px 20px;
	padding-left:50px;
	font-size:1.5em;
	.gift-view-ico{
		background-position:-90px 0;
		top:17px;
	}
}

.gift-price{
	position:absolute;
	height:50px;
	top:2px;
	right:10px;
	z-index:9;
	color:getPrimaryColor(7);
	font-size:1.5em;
}

.list{
	@include listInit();
	li{
		@include listInit(); 
		position:relative;
		display:block;
		color:tint($mainBlack, 10);
		padding:10px 0;
		padding-left:45px;
		i{
			position:absolute;
			display:block;
			top:7px;
			left:5px;
		}
	}
}

.katalk-friend {width:100%; height: 100%; background:white; margin:25px auto; text-align:center; }
.check {display:block; width:60px; height:80px; background:url(/css/img/icon-gift-notice.png) no-repeat -60px; margin:0 auto;}
.katalk-friend-txt{width:100%; font-size:1.2em; text-align:center; padding-top:0; margin-top:17px;}
.katalk-friend-a {width:70px; height:70px; display:block; margin-top:4px; background:#ffeb00; border-radius:50%; margin:25px auto; }
.katalk-friend-ico {width:60px; height:60px; display:block; background:url(/css/img/icon-gift-notice.png) no-repeat -120px 10px; margin-top:0px; margin-left:5px; padding-top:22px}

.select-btn-tit {display:none;}

@media all and (min-width:420px){
	$gift-col-height : 270px;
	.grid-item-wrap{
		height:$gift-col-height;
	}
}

@media all and (min-width:640px){
	.inlinelist li{width:50%;}
	.katalk-friend {width:590px; height:80px; }
	.check {float:left;}
	.katalk-friend-txt {width:76%; float:left; padding-top:11px; margin-top:0;}
	.katalk-friend-a {float:left; margin:5px auto;}
	.katalk-friend-ico {background:url(/css/img/icon-gift-notice.png) no-repeat -120px 4px; margin-top:5px;}

	$gift-col-height : 320px;
	$gift-big-col-height : 425px;
	.grid-item-wrap{
		height:$gift-col-height;
		padding:2.5px;
		&:hover{
			padding:1.5px;
		}
	}
	.grid-item-thumb-wrap{}
	.grid-item-wrap-big{	
		height:$gift-big-col-height;
	}
}
 
@media all and (min-width:900px){

	$gift-col-height : 350px;
	$gift-big-col-height : 450px;

	.grid-item-wrap{
		width:33%;
		height:$gift-col-height;
		@include widthPerChild(2,4);
	}
	.grid-item-wrap-big{	
		width:33%;
		height:$gift-big-col-height;
		.grid-item-thumb-wrap img{width:100%;}
	}
	.gift-view-inner-wrap{
		width:900px;
	}
	.gift-view{width:650px;float:left;}
	.gift-view-wrap{
		padding-top:50px;
		padding-bottom:50px;
	}
	.gift-panel-wrap{
		position:static;
		width:250px;
		float:right;
		padding:0;
		left:auto;
		bottom:auto;
		text-align:left;
	}
	.gift-view-info{
		padding:0 15px;
		padding-top:15px;
	}
	.gift-panel{
		position:static;
		width:250px;
		height:auto;
		background:none;
		color:white;
		padding:0;
		margin-top:10px;
		&.scrolling{
			position: absolute;
		}
	}
	.gift-view-tit{
		font-size:1.5em;
	}
	.gift-view-sub{
		font-size:1em;
	}
}

@media all and (min-width:1200px){
	$gift-col-height : 325px;
	$gift-big-col-height : 475px;
	.grid-item-wrap{
		height:$gift-col-height;
	}
	.grid-item-wrap{width:20%;}
	.grid-item-wrap-big{	
		height:$gift-big-col-height;
	}
}

@media all and (min-width:1450px){
	$gift-col-height : 350px;
	$gift-big-col-height : 500px;
	.grid-item-wrap{
		height:$gift-col-height;
	}
	.grid-item-wrap-big{	
		height:$gift-big-col-height;
	}
}
