$mainBlack : #2e333a;
$mainYellow : #ffc033;
$stellaRed : #be003e;
$red : #be003e;
$positiveColor : #31b57c;
$facebookColor : #3b5998;
$naverColor : #1ec800;
$kakaoColor : #ffeb00;
$kakaoBrownColor : #3c1e1e;