@charset "UTF-8";
@import '_var.scss';
@import '_functions.scss';
@import '_lib.scss';
@import '_animations.scss';

@import '_normalize.scss';
@import '_outdatedBrowser.scss';
@import '_ico.scss';
@import '_inp.scss';
@import '_nav.scss';

.inline-block {display:-moz-inline-stack;display:inline-block;zoom:1;*display:inline;word-spacing:0;}
.clear-both {*zoom:1; /* IE5.5~7 브라우저 대응 Hack */&:after {content:" "; display:block; clear:both;}}
.vert-wrap {display:table;height:100%;margin:0 auto;}
.vert-align {display:table-cell;height:100%;vertical-align:middle;}
.whiteTranparentBg {background:url('img/whiteOverlay.png')}
.align-right{text-align:right;}

html {
	font-family:Arial, 'Apple SD Gothic Neo', '애플 SD 고딕 Neo', 'Noto Sans Mono CJK KR', 'Noto Sans CJK KR', 'Noto Sans KR', "맑은 고딕", "Malgun Gothic", "굴림", Gulim, sans-serif;
}

*{
	-webkit-font-smoothing: antialiased;
}

i{margin:0;padding:0;text-decoration:none;}
*{box-sizing:border-box;}
body {
	margin:0;
	padding:0;
	background:#f3f3f3;
	font-size:85%;
	color:rgba(0,0,0,0.8);
	&.disabled{
		overflow: hidden;
		&>*:not(.blur-exc){
			@include blur(5px);
		}
	}
}
.section{
	position:relative;
	padding:10px;
	background:white;
	border:solid 1px #eee;
	margin-bottom:30px;
	&-no-padding{
		@extend .section;
		padding:0 !important;
	}
}
.simplehead-logo {color:inherit;text-decoration:none;}
img{display:block;max-width:100%;height:auto;margin:0 auto;text-align:center}
.wrap{margin:0 auto;padding:0 1%;position:relative;}
.wrap-dense{margin:0 auto;text-align:center;}

.media-container {
	position: relative;

	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	iframe,  
	object,  
	embed,
	.youtube{
		position: absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
	}	
}

.youtube{
	background-position: center center;
    background-repeat: no-repeat;
	background-size:cover;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.tab-wrap{
	background:white;
	margin-top:20px;
	border:solid 1px rgba(0,0,0,0.1);
}
.tab-btn{
	padding:25px 20px;
	height:70px;
	background:none;
	border:0;
	@include inlineBlock;
	@include widthPerChild(2,3);
	&.active{
		border-bottom:solid 2px $mainYellow;
		color:$mainYellow;
	}
}
.tab-btn-wrap{
	
}
.tab-cont{
	border-top:solid 1px rgba(0,0,0,0.1);
	padding:15px 25px;
	&>div{display:none}
}
.mobile-hide{display:none}
.mobile-show{display:block}
.display-none{display:none}
.menuToggler{@extend .inline-block;width:5%;float:right;height:100%;line-height:40px;border:0;background:url('img/menu.png') no-repeat right 70%;}

.tit {
	font-size:1.8em;margin-bottom:50px;margin-top:50px;
	font-weight:normal;
}
.section-tit{font-size:2em}
.tit-affix{font-size:0.6em;}
.tit-inside{font-size:1.5em;}
.tit-sub{
	font-size:1.7em;
	margin:0;
	margin-bottom:20px;
}
.tit-sec{
	margin:20px auto;
	text-align:center;
}
.fontsize-initial{font-size:1em;}
.txt-left{text-align:left;}
.txt-highlight{
	color:getPrimaryColor(8);
}
.gray-sec {background:#f6f6f6}

$navHeight : 50px;
.nav-wrap{
	position:fixed;
	width:100%;
	height:auto;
	z-index:9999999;
	top:0;
}
#outdated + .nav-wrap{
	top:200px;
}
nav{
	position:relative;
	width:100%;
	height:$navHeight;
	line-height:$navHeight;
	background:$mainBlack;
	z-index:9999999999;
	@include shadow-level(4);
	.wrap {@extend .clear-both;height:100%;position:relative;padding:0 !important;}
	.btn{@extend .inline-block;width:33%;margin-top:7px;text-align:center;}
	&.scrolling{
		height:$navHeight;
		line-height:$navHeight;
		#logo{padding-top:6px;}
		.logo_big {display:none;}
		.logo_small {display:block;}
		.gnb-tit{font-size:.9em;}
	}
}


.container{
	margin:0 auto;padding-top:$navHeight;
	#outdated + .nav-wrap + .nav-mobile-wrap + &{
		margin-top:200px;
	}
}
.center{text-align:center;}

#logo {
	@extend .inline-block;
	width:130px;
	line-height:$navHeight;
	font-size:1.3em;
	color:white;
	height:100%;
	text-decoration:none;
	text-align:center;
	vertical-align:middle;
	padding-top:6px;
	padding-left:5px;
}
.logo_big {display:none;}
.gnb-line-break{display:none}
.gnb {
	@extend .inline-block;
	float:right;
	text-align:center;
	height:100%;
	text-align:left;
	padding:0;margin:0;
	clear:both;
	list-style:none;    
	vertical-align:top;
}
.gnb-tit-wrap{
	@extend .clear-both;
	display:none;
	height:100%;
	padding:0;margin:0;top:0;
	list-style:none;
	color:white;
	transition:color 0.1s;
	&.divide{margin-left:2%;}
	&.active, &:hover{
		border-bottom:3px solid $mainYellow;
		color:$mainYellow;
	}
}
.gnb-tit{
	display:block;
	width:100%;
	height:100%;
	text-align:center;
	line-height:inherit;
	text-decoration:none;
	cursor:pointer;
	color:inherit;
	transition:background 0.2s, border-right 0.2s;
}
.gnb-tit-func{
	@extend .gnb-tit;
}
.gnb-tit-func-wrap{
	@extend .clear-both;
	display:none;
	height:100%;
	padding:0;margin:0;top:0;
	list-style:none;
	color:white;
	transition:border-bottom 0.3s, color 0.3s;
	&.divide{margin-left:2%;}
	&.active, &:hover{
		border-bottom:3px solid $mainYellow;
		color:$mainYellow;
	}
}
.gnb-tit-func-wrap.bookmark{
	display:none;
}
.nav-mobile-wrap{
	@include bgRgba($mainBlack,0.9);
	position:fixed;
	width:100%;
	height:100%;
	right:-100%;
	opacity:0;
	z-index:9999999999;
	transition:right .5s, opacity .2s;
	&.active{
		opacity:1;
		right:0;
	}
}
.nav-mobile-btn-wrap{
	@extend .inline-block;
	position:absolute;
	right:0;
	width:100px;
	height:100%;
	padding:0;
	margin:0;
	list-style:none;
}

.nav-mobile-btn{
	display:block;
	width:100%;
	height:100%;
	background:none;
	border:0;
	color:white;
}
.nav-mobile{
	padding:0;
	margin:0;
	list-style:none;
	padding-top:50px;
}
.nav-mobile-item-wrap{
	width:100%;
	height:5%;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	font-size:1.1em;
	&.divide{margin-top:20px;}
}
.nav-mobile-item{
	display:block;
	width:100%;
	height:100%;
	padding-left:5%;
	line-height:40px;
	color:white;
	text-decoration:none;
	transition:color .2s;
	&.active, &:hover{
		color:$mainYellow;
	}
}
.nav-mobile-close-wrap{
	position:absolute;
	width:50px;
	height:50px;
	top:20px;
	right:50px;
}
.nav-mobile-close{
	width:100%;
	height:100%;
	line-height:50px;
	color:white;
	background:none;
	border:0;
	font-size:2em;
	&:hover{color:$mainYellow}
}
.contact-btn-wrap{
	@include bgRgba(white,0.5);
	position:fixed;
	width:100%;
	bottom:0;
	padding:5px 0;
	right:0;
	text-align:right;
	z-index:9999;
}
.contact-btn{
	@extend .inline-block;
	margin-right:3%;
	width:60px;
	height:78px;
	text-decoration:none;
	background:url('../img/ico-contact-btn-mobile.png') no-repeat center center;
}
.contact-btn-kakao{
	@extend .contact-btn;
	background-position:0 0;
}
.contact-btn-tel{
	@extend .contact-btn;
	background-position:-60px 0;
}
.contact-btn-reserve{
	@extend .contact-btn;
	background-position:-120px 0;
}


.gnb-tit{}
.trio-item,
.trio-section{
	text-align:center;
	padding:0;margin:0;list-style:none;
}


.txt-bold{font-weight:bold;}
footer {margin-top:50px;min-height:150px;padding-top:50px;border-top:solid 1px #ddd;background:#f3f3f3;text-align:center;color:#aaa}


.overlay{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	right:0;
	z-index:999999999;
	@include bgRgba(black,0.8);
}
.layer-view-wrap{
	@extend .overlay;
	display:none;
	padding:5%;
	&.active{display:block;}
}
.layer-btn-wrap {
	width:100%; 
	height:55px; 
	margin:0 auto; 
	position:relative;
}

.layer-view-btn{
	display:block;
	height:100%;
	margin:0 auto;
	background:none;
	border:none;
	font-size:2em;
	text-align:center;
	@include text-shadow(#000);
	color:white;
	position:absolute;
	right:0;
}
.layer-view{
	height:90%;
	border-radius:5px;
	background:white url('../img/loading.gif') no-repeat center center;
	overflow: auto;
	 -webkit-overflow-scrolling: touch;
	@include shadow(#000);
	iframe {
		width:100%;
		height:100%;
		border:none;
		-webkit-overflow-scrolling: touch;
		overflow:scroll;
		font-size:0;
	}
	img {
		max-width: 100%;
	}
}
.gift-view-wrap{
	display:none;
}
.contact-pc-wrap {display:none;}
.contact-ico {
	background:url('../img/ico-contact-btn.png') no-repeat center center;
	position:absolute;
	width:20px;
	height:19px;
	left:20px;
	top:50%;
	margin-top:-10px;
	}
.contact-ico-consult{
	@extend .contact-ico;
}
.contact-ico-tel{
	@extend .contact-ico;
}
.contact-ico-kakao{
	@extend .contact-ico;
}

.contact-mobile-wrap {
	display:block;
	position:fixed; 
	bottom:25px; 
	right:10px; 
	z-index:999999;
	opacity:1;
	&.hide{
		display:none;
		@include anmation(fadeOut);
	}
}
.contact-mobile-inner {
	width:60px;
	height:60px;
	position:relative;
}
.contact-mobile-btn {
	display:block;
	width:140px;
	height:60px;
	position:absolute;
	bottom:0px; 
	opacity:0;
	right:5px;
	transition:all .3s;
	@include animate-fadeIn-to-out();
}
.contact-consult-mobile{
	@extend .contact-mobile-btn;
	&.active {bottom:195px;}
}
.contact-tel-mobile{
	@extend .contact-mobile-btn;
	&.active {bottom:130px;}
}
.contact-kakao-mobile{
	@extend .contact-mobile-btn;
	&.active {bottom:65px;}
}

.mobile-contact-tit {
	width:80px;
	height:60px;
	float:left;
	line-height:60px;
	text-align:center;
	font-size:1em;
	text-decoration:none;
	color:$mainBlack;
	text-shadow:1px 1px 30px #797979;
}

.contact-toggle-btn{
	width:70px;
	height:70px;
	display:block;
	position:relative;
	font-size:1.2em;
	font-weight:bold;
	border-radius:50%;
	@include shadow(#999);
	background: $mainYellow;
	color:$mainBlack;
	border:0;
	right:10px;
	&.active  {background:white; color:$mainYellow;}
}
.mobile-ico {
	width:60px;
	height:60px;
	display:block;
	position:relative;
	border-radius:50%;
	float:left;
	@include shadow(#aaa);
	background: $mainYellow;
	color:$mainBlack;
	border:0;
}
.mobile-ico-kakao{
	@extend .mobile-ico;
	background:$kakaoColor;
}
.mobile-ico-consult, .mobile-ico-tel{
	@extend .mobile-ico;
	background:$mainBlack;
}


.contact-mobile-ico {
	background: url('../img/ico-contact-btn.png') no-repeat center center;
	position:absolute;
	width:20px;
	height:19px;
	left:20px;
	top:50%;
	margin-top:-10px;
}
.contact-mobile-ico-kakao {
	@extend .contact-mobile-ico;
	background-position:0 0;
}
.contact-mobile-ico-consult {
	@extend .contact-mobile-ico;
	background-position:-60px 0;
}
.contact-mobile-ico-tel {
	@extend .contact-mobile-ico;
	background-position:-40px 0;
}
.btn-contact{
	display:none;
}
.btn-contact-kakao{
	@extend .btn-contact;	
}
.btn-contact-tel{
	@extend .btn-contact;
}
.btn-contact-ico-kakao{
	@extend .btn-contact-ico;
}
.btn-contact-ico-tel{
	@extend .btn-contact-ico;
}
.btn-contact-ico-consult{
	@extend .btn-contact-ico;
}


.list-recomm-item-wrap,
.list-recomm-wrap{
	padding:0;margin:0;list-style:none;
}
.list-recomm-item-wrap{
	padding:5px;margin:0;list-style:none;
}
.list-recomm-img{
	display:block;
	padding-top:20px;

	&-first {@extend .list-recomm-img;background:url('../img/recomm-img-first.jpg') center bottom;}
	&-second {@extend .list-recomm-img;background:url('../img/recomm-img-second.jpg') center bottom;}
	&-third {@extend .list-recomm-img;background:url('../img/recomm-img-third.jpg') center bottom;}
}
.list-recomm-item{
	position:relative;
	width:100%;
	background:white;
}
.list-recomm-tit{
	font-size:1.7em;
	padding:1%;
	margin:0;
	margin-top:5px;
	text-align:center;
}
.list-recomm-id{
	width:100%;
	padding:10px;
	text-align:center;
	color:#777;
	font-size:.8em;
}


@media all and (min-width:640px){
	$listRecommWrapHeight : 400px;
	.list-recomm-wrap{
		height:$listRecommWrapHeight;
	}
	.list-recomm-item-wrap {
		@include inlineBlock;
		width:33%;
		height:100%;
		vertical-align:top;
	}
	.list-recomm-item{
		height:100%;
	}
	.list-recomm-tit{
		margin-top:15px;
	}
	.contact-mobile-wrap {display:none;}
	.mobile-hide{display:block;}
	.mobile-show{display:none;}
	.nav-mobile-wrap{
		width:60%;
		height:100%;
		right:-60%;

	}
	.nav-mobile-btn-wrap{
		width:10%;
	}
	.nav-mobile-item-wrap{
		text-align:left;
		display:none;
	}

	.btn-contact{
		@include inlineBlock;
		position:relative;
		height:43px;
		padding:10px 15px; 
		margin-right:0.7%;
		border-radius:5px;
		font-size:0.95em;
		text-decoration:none;
		cursor:pointer;
		vertical-align: middle;
	}

	.btn-contact-tit{
		padding-left:30px;
		line-height:23px;
	}
	.btn-contact-kakao{
		background:$kakaoColor;
		border:1px solid darken($kakaoColor, 5);
		color:$kakaoBrownColor;
		
	}
	.btn-contact-tel{
		background:transparent;
		padding:8px 13px; 
		border:2px solid $mainBlack;
		color:$mainBlack;
	}
	.btn-contact-ico{
		background:url('../img/ico-contact-btn.png') no-repeat center center;
		position:absolute;
		width:20px;
		height:19px;
		left:15px;
		top:50%;
		margin-top:-10px;
	}
	.btn-contact-ico-kakao{
		background-position:0 0;
	}
	.btn-contact-ico-tel{
		background-position:-20px 0;
	}
	.contact-pc-wrap {
		position:fixed;
		bottom:20px;
		right:25px;
		z-index:999;
		display:block;
		width: 450px;
	}
	.btn-contact, .btn-contact-kakao {	
		@include shadow-level(2);
		display:inline-block;
		position:relative;
		padding:10px 15px; 
		margin-right:0.7%;
		border-radius:5px;
		font-size:0.95em;
		text-decoration:none;
		cursor:pointer;
		vertical-align: middle;
		background:$mainBlack;
		float:right;
		color:white;
		text-align:center;
		transition:box-shadow .3s;
		&:hover{
			@include shadow-level(8);
		}
	}
	.btn-contact-kakao {
		background: $kakaoColor;
		color:$kakaoBrownColor;
	}
	.contact-ico-consult{
		background-position: -60px 0;		
	}
	.contact-ico-tel{
		background-position: -40px 0;
	}
	.contact-ico-kakao{
		background-position: 0 0;
	}
	
	body{font-size:90%}
	.wrap{width:98%;}
	.gnb{
		padding-left:2%;
		width:92%;
		text-align:left;
		float:none;
	}
	#logo{
		width:8%;padding-top:3px;line-height:initial;font-size:1em;
	
	}

	.gnb-line-break{display:block;}
	.gnb-tit-wrap {
		@include inlineBlock;
		vertical-align:top;
		span {vertical-align:middle;}
		&.normal{width:7%;}
		&.five-char{width:12%}
		&.pocketfi{width:19%}
		&.big{width:10%}
		&.divide{margin-left:0;}
	}
	.gnb-tit-func{
		font-size:.85em !important;
	}
	.nav-mobile-func{display:block;}

	.menuToggler{display:none;}
	.tit {font-size:3em;}
	.trio-section{height:300px;}
	.trio-item {
		@include inlineBlock;
		width:32%;
		height:100%; 
		margin-right:1%;
		vertical-align:top;
		background:white;
		&:last-child{margin-right:0;}
	}
	.contact-btn-wrap{
		display:none; 
	}
	.section{
		padding:15px 25px;
	}
	.layer-banner{
		width:500px;
	}
	.wrap-dense{
		width:700px;
	}

}

@media all and (min-width:900px){
	.list-recomm-wrap {height:480px;}
	.layer-btn-wrap{width:800px;}
	body{font-size:100%}
	.trio-section{height:200px;}
	.btn-contact{margin-right:10px;}
	.half-wrap{width:900px;margin:0 auto;}
	$navHeight : 60px;
	nav{
		height:$navHeight;
		line-height:$navHeight;
	}

	.container{padding-top:$navHeight;}
	#logo{
		width:8%;
		line-height:inherit;
		font-size:1.4em;
		vertical-align:top;
		padding-top:5px;
	}
	.logo_big {display:block;}
	.logo_small {display:none;}

	.gnb-line-break{display:none;}
	.gnb{
		width:92%;
		text-align:center;
		vertical-align:top;
		padding-left:0;
	}
	.gnb-label, 
	.gnb-tit{
		padding:0;
		font-size:1em;
		text-align:center;
		line-height:inherit;
	}
	.gnb-tit-func{
		font-size:1em;
	}
	.gnb-tit-wrap {
		&.normal{width:6.5%;}
		&.pocketfi{width:14%}
		&.big{width:9%}
		&.divide{margin-left:1%;}
	}

	

	.layer-view{
		width:800px;
		margin:0 auto;
	}
	.layer-view-wrap{
		padding:50px;
	}
}
@media all and (min-width:1200px){
	.gnb-tit-func-wrap.bookmark{
		@include inlineBlock;
	}
	.gnb-tit-func-wrap{
		@include inlineBlock;
		width:10%;
	}
	.gnb-tit-wrap {
		&.normal,
		&.pocketfi,
		&.big,
		&.five-char{
			width:auto;
		}
		&.divide{margin-left:2%;}
	}
	.gnb-tit-func-wrap{	
		width:auto;
		lte-ie9 &{width:initial;}
	}
	.gnb-tit{padding:0 13px;}
	.btn-contact{
		padding: 15px 20px;
		height:53px;
	}
	.nav-mobile-wrap,
	.nav-mobile-btn-wrap{display:none;}
}
@media all and (min-width:1450px){
	.wrap{width:1400px;}
	.gnb-tit{padding:0 20px;}
}