@import 'common';
@import '_list';
@import '_userInfo';

.exchangeRefundNote7-process{
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:5px;
	li{
		@include inlineBlock;
		position:relative;
		vertical-align:top;
		margin:0;
		padding:0 7px;
		margin-bottom:10px;
		list-style:none;
		color:rgba(0,0,0,0.6);
		transition:background .3s;
		.current{display:none;margin-top:1px;font-size:.9em;text-align:center;}
		.number{font-size:1.5em;}
		.name{font-size:.9em;}
		&:hover{
			background:getPrimaryColor(0);
		}
		&.active{
			color:getPrimaryColor(8);
			.current{display:block;}
		}
	}
}

.benefit-img{
	@include inlineBlock;
}