@import '_parsley.scss';
@import 'common.scss';
@import '_row.scss';
@import '_list.scss';
@import '_userInfo.scss';

.preorder-process-wrap{
	margin:0;
	padding:0;
	list-style:none;
	margin-bottom:5px;
	li{
		@include inlineBlock;
		position:relative;
		vertical-align:top;
		margin:0;
		padding:0 7px;
		margin-bottom:10px;
		list-style:none;
		color:rgba(0,0,0,0.6);
		transition:background .3s;
		.current{display:none;margin-top:1px;font-size:.9em;text-align:center;}
		.number{font-size:1.5em;}
		.name{font-size:.9em;}
		&:hover{
			background:getPrimaryColor(0);
		}
		&.active{
			color:getPrimaryColor(8);
			.current{display:block;}
		}
	}
}

.tit-box { 
	@include inlineBlock;
	width:2.2em;
	height:1.2em;
	background-color:#a0a0a0;
	margin-right:10px;
	margin-bottom:0px;
	vertical-align: middle;
	}

.order-tit {
	font-size:1.8em;
	padding-top:20px ;
	padding-bottom:20px;
	width:850px;
	left:25px;
	text-align:left;
	margin-bottom:0;
		@include shadow-level(7);
	}

.mypage-list-wrap td {
	text-align:center;
}
.epost {
	text-decoration:none;
	color:#808b9a;
	font-size:.9em;
}

.mypage-wrap{margin:0 auto;}

.mypage-list-wrap{margin:0 auto; padding:0 1%}
.applyList-wrap {width:98%;}

@media all and (min-width:640px){


}
@media all and (min-width:900px){
	.mypage-wrap{
		width:850px;
		padding:0;
	}
	.mypage-list-wrap{
		width:850px;
		padding:0;
		@include shadow-level(4);
		
	}

}
@media all and (min-width:1200px){

}
@media all and (min-width:1450px){

}