@import '_parsley.scss';
@import 'common.scss';
@import '_row.scss';

.preorder {
	margin:0 auto;
}
.myspace-wrap{width:98%;}
.mypoint-tit {margin-bottom:0;}
.mypoint{
	color:getPrimaryColor(8);
}
.myspace-list-group {
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}
.myspace-list-wrap {
	width:50%;
	display:block;
	float:left;
	height:200px;
	padding:7px;
}
.myspace-list{
	display:block;
	background:#fff;
	border:1px solid rgba(0,0,0,0.1);
	height:100%;
	cursor:pointer;
	transition:box-shadow .2s, color .2s;
	padding-top: 70px;
	color:inherit;
	text-decoration:none;
	font-size:1.3em;
	text-align:center;
	@include shadow-level(2);
	&:hover{
		@include shadow-level(6);
		color:getPrimaryColor(7);
	}
}
.clear {clear:both;}

.myspace-preorder {
  width: 98%;
  margin: 0 auto;
  height: 100px; }
  .myspace-preorder.v20 {
    background: #000 url("../img/mypageBanner-v20-bg.jpg") no-repeat center center; }
  .myspace-preorder.iphone7 {
    background: #000 url("../img/mypageBanner-iphone7-bg.jpg") no-repeat center center; }
  .myspace-preorder.note7 {
    background: #000 url("../img/mypageBanner-note7-bg.jpg") no-repeat center center; }
  .myspace-preorder.galaxys7edgeBlue {
    background: #000 url("../img/mypageBanner-s7edgeblue-bg.jpg") no-repeat center center; }
   .myspace-preorder.bey {
    background: #000 url("../img/mypageBanner-bey-bg.jpg") no-repeat center center; }
   .myspace-preorder.galaxys7edge {
   	background: #000 url("../img/mypageBanner-s7edge-bg.jpg") no-repeat center center; }
   .myspace-preorder.programNote7 {
   	background: #000 url("../img/mypageBanner-programNote7-bg.jpg") no-repeat center center; }

.preorderLink {
  width: 100%;
  display: block;
  text-decoration: none; }

.preoderTitle {
  text-align: center;
  line-height: 100px;
  color: #fff;
  font-size: 1.9em;
  text-shadow: 0 0 20px #000; }





@media all and (min-width:640px){
	.myspace-list-wrap {width:20%;}

}
@media all and (min-width:900px){
	.myspace-wrap {
    width: 900px;
    margin: 0 auto;
	}
}
@media all and (min-width:1200px){
	

}
@media all and (min-width:1450px){

}