@import 'common.scss';
@import '_list.scss';

$tp-color:#ffc600;



ul, li {
	list-style: none;
	padding-left: 0px;
	margin: 0 auto;
	text-align: center;
}
a {
	text-decoration: none;
	text-align: center;
}
p {
	margin:0 auto;
	padding:5px 20px;
	padding-top:100px;
	text-align: center;
}


/************************************
BACKGROUND
************************************/
.bg {
  background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/diagmonds.png');
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}

/************************************
SECTION
************************************/
section{
  color: #fff;
  font-family:Raleway;
  width: 100%;
  margin: auto;
  font-size: 1em;
  font-weight:700;
  margin-top:0px;
  }

/************************************
MY BLACK OVERLAY
************************************/
.black{
  background:rgba(0,0,0,0.5);
  padding:20px 20px 20px 20px;
  border-top:1px solid rgba(255,255,255,0.2);
  border-bottom:1px solid rgba(255,255,255,0.2);
  margin-top: 0px;
}
.blue{
  border-bottom:1px solid rgba(255,255,255,0.2);
}

/************************************
SOME PADDING
************************************/
.white{
}

/************************************
TEXT
************************************/
.tit {
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
}
.tit-y {
	font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	color:$tp-color;
}
.tit-b{
	font-size: 3.4em;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
	text-align: center;
	color:$tp-color;
	text-decoration: underline;
	letter-spacing: -.05em;
}
.normal {
	font-weight: normal;
}
.sub {
	font-size: 1.8em;
	margin:0;
	margin-top:20px;
	text-align: center;
	font-weight: bold;
}
.sub-1 {
	font-size: 1.8em;
	margin:0;
	margin-top:40px;
	text-align: center;
	font-weight: bold;
}
.sub-2 {
	font-size: 1.8em;
	margin:0;
	margin-top:10px;
	text-align: center;
	font-weight: bold;
}
.txt {
	font-size: 1em;
	margin:0 auto;
	text-align: center;
	padding: 5px 10px;
	max-width: 580px;
	line-height: 1.4em;
	letter-spacing: -.05em;
}
.link {
	padding:5px 30px;
	background:$tp-color;
	border-radius: 10px;
	color:black;
	width:220px;
	margin: 0 auto;
	margin-bottom:50px;
	font-weight: bold;
}


.ss {
	padding-top:50px;
}
.ss-end {
	padding-top: 10px;
	padding-bottom:60px;
}

.tiple-top {
	margin-top: 50px;
}
.for {
	margin-top: 50px;
}

.bey-3gb{
	margin-top:40px;
}
.bey-64 {

}
.bey-touch {
	margin-bottom: 40px;
}
.vs {
	color:$tp-color;
	margin-top:60px;
}
.add {
	margin-bottom:50px;
}
.bey-intro {
	margin-top:120px;
}
.note8 {
	margin-top:50px;
}
.note8-end {
	margin-bottom: 20px;
}
.note8-padding {
	margin-bottom:30px;
}
.pricevs {
	margin-bottom:30px;
}
/************************************
UL,LI
************************************/
.pricein li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width:100px;
	font-size: .8em;
	padding:15px 0px;
}
.pricein .price {
	width:100px;
	font-size: 1.5em;
	font-weight: bold;
	color:$tp-color;
}
.spec li {
	display: inline-block;
	padding:5px 1px;
	padding-top:80px;
	width:70px;
	vertical-align: top;
}
.spec-li {
	margin-right:2px;
}

/************************************
IMG
************************************/
.intro {
	background: url('../img/intro-back.jpg') no-repeat right bottom;
}
.sub-1 {
	background: url('../img/samnews-1-mobile.png') no-repeat center bottom;
	padding-bottom:600px;
}
.sub-2 {
	background: url('../img/samnews-2-mobile.png') no-repeat center bottom;
	padding-bottom:720px;
}
.tiple {
	background: url('../img/vs-mobile.png') no-repeat center 100px;
}
.touch {
	background: url('../img/bey-touch-s.png') no-repeat center top;
}
.memory{
	background: url('../img/bey-gb-s.png') no-repeat center top;
}
.hd {
	background: url('../img/bey-hd-s.png') no-repeat center top;
}
.ram {
	background: url('../img/bey-ram-s.png') no-repeat center top;
}
.bey-3gb{
	background: url('../img/bey-ram-b.png') no-repeat center top;
	padding-top:130px;
}
.bey-64 {
	background: url('../img/bey-gb-b.png') no-repeat center top;
	padding-top:130px;
	margin-top:30px;
}
.bey-touch {
	background: url('../img/bey-touch-b.png') no-repeat center top;
	padding-top:130px;
	margin-top:30px;
}
.bey-back {
	background: url('../img/bey-mobile.png') no-repeat right bottom;
	padding-bottom:260px;
}
.bey-b {
	background:rgba(0,0,0,0.7) url('../img/bey-b-mobile.png') no-repeat center 50px;
}
.blue {
	background:rgba(3,13,79,.6) url('../img/ss-logo.png');
}

@media all and (min-width:640px){


	.bey-b {
		background:rgba(0,0,0,0.7) url('../img/bey-b-tablet.png') no-repeat center 50px;
	}
	.tiple {
		background: url('../img/vs-tablet.png') no-repeat center  100px;
	}
	.bey-back {
		background: url('../img/bey-mobile.png') no-repeat right bottom;
		padding-bottom:220px;
	}
	.sub-1 {
		background: url('../img/samnews-1-tablet.png') no-repeat center bottom;
		padding-bottom:610px;
	}
	.sub-2 {
		background: url('../img/samnews-2-tablet.png') no-repeat center bottom;
		padding-bottom:580px;
	}
	section{
  		width: 640px;
		margin-top:30px;
  	}

	.pricein li {
		width:130px;
		font-size: 1.1em;
		padding:15px 0px;
	}
	.pricein .price {
		width:170px;
		font-size: 1.9em;
	}
	.spec li {
		padding:5px 15px;
		padding-top:80px;
		width:90px;
	}
	.note8 {
		margin-top:100px;
	}
	.note8-end {
		margin-bottom: 30px;
	}
	.note8-padding {
		margin-bottom:100px;
	}
}
@media all and (min-width:900px){
	
}
@media all and (min-width:1200px){
	
}
@media all and (min-width:1450px){
	
}