.result {
	width:100%;
}
.footer{margin-bottom: 20px;}
.cont{font-size: 0.9em}
.link {text-decoration: none;}
.container{padding-top:10px;}


@media all and (min-width:400px){
}

@media all and (min-width:640px){


}


@media all and (min-width:900px){
	.result {
		width:900px;
	}

}

@media all and (min-width:1200px){
}

@media all and (min-width:1450px){
}


